<a href="https://colab.research.google.com/github/Aman02071/Python_codes/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Dictionary**


*  It is a Mutable , Unordered collection of elements in the form of key and Value pairs.
* in this u cannot use slicing and index.
*  "+" and * Operator cannot use

In [4]:
dq = {'ram':100,'shyam':456,'virat':792}
print(dq)
print(type(dq))
print(len(dq))

{'ram': 100, 'shyam': 456, 'virat': 792}
<class 'dict'>
3

In [5]:
# print(dq[1])   u cannot use indexing and slicing

KeyError: 1

In [9]:
print(dq)
print(dq['ram'])
# by using key we can print value but by using value we cant print key

{'ram': 100, 'shyam': 456, 'virat': 792}
100

In [11]:
print(dq["ritika"])
# ritika is not present in the dictionary

792

Rules of Dictionary
*   1 key must be immutable type like
    tuple,string,int,float,boolean
*   value can be of any mutable or
    immutable
*   Key must be unique
*   value can be repeat

In [12]:
print(dq)

{'ram': 100, 'shyam': 456, 'virat': 792}

In [13]:
dq['virat'] = 2234
# inserting a element

In [14]:
print(dq)

{'ram': 100, 'shyam': 456, 'virat': 2234}

In [15]:
for i in dq:
  print(i)
  # it will print only keys

ram
shyam
virat

In [16]:
for i in dq:
  print(i,dq[i])
  # it will print key and value

ram 100
shyam 456
virat 2234

In [18]:
print("shyam" in dq)
# key searching
print("shalini" not in dq)
# membership operator

True
True

WAP to create a dictionary of friend name as a key and college name as avalue ,input take from the user

In [20]:
frd ={}
for i in range(3):
    name = input("enter your name")
    cllg_name =input("enter your college name")
    frd[name] = cllg_name
print(frd)

enter your namevirat
enter your college nameiit delhi
enter your nameaman
enter your college namesrm
enter your namedhruv
enter your college namevit
{'virat': 'iit delhi', 'aman': 'srm', 'dhruv': 'vit'}

Fuctions of Dictionary
len(),clear(),get(),values(),keys(),update()

In [21]:
print(dq)
print(len(dq))

{'ram': 100, 'shyam': 456, 'virat': 2234}
3

In [24]:
print(dq.values())

dict_values([100, 456, 2234])

In [23]:
print(dq.keys())
# it will return list which contains values

dict_keys(['ram', 'shyam', 'virat'])

In [25]:
print(dq.items())
# list contain tuple element with key,value

dict_items([('ram', 100), ('shyam', 456), ('virat', 2234)])

In [26]:
print(dq.get('ram',"not found"))

100

In [27]:
print(dq.get('john',"not found"))

not found

In [28]:
print(dq)
print(frd)

{'ram': 100, 'shyam': 456, 'virat': 2234}
{'virat': 'iit delhi', 'aman': 'srm', 'dhruv': 'vit'}

In [31]:
dq.update(frd)
print(dq)

{'ram': 100, 'shyam': 456, 'virat': 'iit delhi', 'aman': 'srm', 'dhruv': 'vit'}

In [32]:
print(frd)

{'virat': 'iit delhi', 'aman': 'srm', 'dhruv': 'vit'}

In [33]:
dq.clear()
# it will erase all document

In [34]:
print(dq)

{}