<a href="https://colab.research.google.com/github/Aman02071/Python_codes/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

List Manipulation - it is a collection of elements of different types .

* list follows indexing and slicing and looping.
* list is a mutable data type - change after creation

In [1]:
l =[3,2,4,5,64,"hello",5.6,7.4,9.5,456]
print(l)
print(type(l))
print(len(l))

[3, 2, 4, 5, 64, 'hello', 5.6, 7.4, 9.5, 456]
<class 'list'>
10

In [2]:
for i in l:
  print(i)
  # access one by one

3
2
4
5
64
hello
5.6
7.4
9.5
456

In [3]:
print(l[6])

5.6

In [4]:
print(l[3:6])

[5, 64, 'hello']

In [5]:
l[6] =2000
print(l)
# update of an element 6

[3, 2, 4, 5, 64, 'hello', 2000, 7.4, 9.5, 456]

Append function to insert an single element at  a time.

In [7]:
l1 =[]
print(l1)

[]

In [8]:
l1.append(8)
print(l1)
# any element u can insert like int , float ,string

[8]

In [11]:
l1.append(45)
print(l1)
# if i run this code after multiple times then same value will be inserted
# list is a collection of duplicate elements

[8, 45, 45, 45]

WAP to create of your friend name input take from the user atleast 5 names

In [13]:
frd =[]
for i in range(5):
  name =input("enter your name '")
  frd.append(name)
  print(frd)

enter your name aman'
["aman'"]
enter your name virat
["aman'", 'virat']
enter your name kohli
["aman'", 'virat', 'kohli']
enter your name ms
["aman'", 'virat', 'kohli', 'ms']
enter your name suresh
["aman'", 'virat', 'kohli', 'ms', 'suresh']

In [18]:
# if we want to insert multiple element we will use extend function
print(l)
l.append(400)
print(l)
l.extend([23,56,67])

[3, 2, 4, 5, 64, 'hello', 2000, 7.4, 9.5, 456, 400, 400, 400]
[3, 2, 4, 5, 64, 'hello', 2000, 7.4, 9.5, 456, 400, 400, 400, 400]

In [19]:
print(l)

[3, 2, 4, 5, 64, 'hello', 2000, 7.4, 9.5, 456, 400, 400, 400, 400, 23, 56, 67]

l2 =[2,4,5,6,7,8,9]

even =[2,4,6,8]

odd = [5,7,9]

In [20]:
l2 =[2,4,5,6,7,8,9]
even =[]
odd =[]
for i in l2:
  if i %2==0:
    even.append(i)

  else:
      odd.append(i)
      print(even)
      print(odd)

[2, 4]
[5]
[2, 4, 6]
[5, 7]
[2, 4, 6, 8]
[5, 7, 9]

List Functions

append(),index(),extend(),len(),count(),sort(),remove(),pop(),insert(),clear()

In [21]:
print(l)

[3, 2, 4, 5, 64, 'hello', 2000, 7.4, 9.5, 456, 400, 400, 400, 400, 23, 56, 67]

In [22]:
print(l,len(l))

[3, 2, 4, 5, 64, 'hello', 2000, 7.4, 9.5, 456, 400, 400, 400, 400, 23, 56, 67] 17

In [24]:
print(l.index(2000))
# index function will give the index pos of an elemnt

6

In [25]:
print(l.count(400))

4

In [29]:
l3 =[8,3,2,5,9,4,1]
l3.sort()
print(l3)
# into ascending order

[1, 2, 3, 4, 5, 8, 9]

In [30]:
qd =[23,890,567,456,888,2345,890]
qd.sort()
print(qd)

[23, 456, 567, 888, 890, 890, 2345]

In [32]:
qd.sort(reverse = True)
print(qd)
# into descending order

[2345, 890, 890, 888, 567, 456, 23]

In [33]:
frd.sort()
print(frd)
# A-Z arrange

["aman'", 'kohli', 'ms', 'suresh', 'virat']

In [34]:
print(qd)

[2345, 890, 890, 888, 567, 456, 23]

In [35]:
qd.reverse()
print(qd)
# it will reverse all the element

[23, 456, 567, 888, 890, 890, 2345]

In [42]:
qd.remove(567)
print(qd)

ValueError: list.remove(x): x not in list

In [43]:
qd.pop()
print(qd)
# it will delete the last element

[23, 456, 890, 890]

In [44]:
print(l2)

[2, 4, 5, 6, 7, 8, 9]

In [48]:
l2.insert(3,300)
print(l2)

[2, 4, 5, 300, 300, 300, 6, 7, 8, 9]