In [1]:
a = int(input("enter the value"))
if a>3:
    print("hello")

elif a >2:
    print("hi")

elif a >1:
    print("yes")

else:
    print("inside else")   # pattern

enter the value 5

hello

In [3]:
a = 4
if a>3:
    print("hello")

if a >2:
    print("hi")

if a >1:
    print("yes")

else:
    print("inside else")    # else is optional

hello
hi
yes

WAP to check the username and password

In [14]:
user=input("enter the username") # arpit@123
password=int(input("enter the password")) # 1234
if user == "aman@123" :
    if password==1234:
        print("login successfully")
    else:
        print("password is wrong")
else:
    if password==1234:
     print("username is wrong")  
    else:
       print("both are wrong ")

enter the username aman@123
enter the password 1234

login successfully

Looping for while

In [17]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello") # looping means to run a code fixed no of times

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [21]:
for i in range(9): # for is a keyword and loop ,i is a variable , in is a operator and range is a function
    print("hello")  # range is a function start from 0 to n-1---0 to 4

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [23]:
for i in range(10):  # value generate i =0,1,2,3,4,5,6,7------
    print("hello")
    print(i)

hello
0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9

In [25]:
for i in range(9,3,-1):   #start ,stop,step
    print(i)

9
8
7
6
5
4

In [27]:
for i in range(-400,100,100):
    print(i)

-400
-300
-200
-100
0

WAP to print a table

In [32]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [34]:
n = int(input("enter the no"))
for i in range(1,11):
    print(n*i)

enter the no 5

5
10
15
20
25
30
35
40
45
50

In [5]:
n = int(input("enter the no"))
for i in range (1,11):
    print(n,"X",i,"=",n*i)

enter the no 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

WAP to check whether number is negative or not

In [10]:
n = int(input("enter the number"))
if n<0:
    print("negative number")

elif n==0:
    print("neutral")

else:
    print("positive")

enter the number 9

positive

WAP to find factors

In [13]:
n = int(input("enter the no to calculate number"))
for i in range(1,n+1):  #(1,7)   1to 6
    if n%i==0:      #6%6==0
        print(i)

enter the no to calculate number 6

1
2
3
6

WAP to find the series 1 5 9 13 17 21

In [18]:
n = 100
for i in range (1,n,4):
    print(i)

1
5
9
13
17
21
25
29
33
37
41
45
49
53
57
61
65
69
73
77
81
85
89
93
97

WAP to find the sum of n natural natural number

In [32]:
n=int(input("enter the no")) # n=5
s=0
for i in range(1,n+1): # 1,6
s=s+i # s=10+5 s=15 update
print(s)

IndentationError: expected an indented block after 'for' statement on line 3 (3740989017.py, line 4)

In [36]:
##### n=int(input("enter the no")) # n=5
s=0
for i in range(1,n+1):         # 1,6
    s=s+i     # s=10+5 s=15 update

print(s)

enter the no 3

6

In [38]:
n=int(input("enter the no")) # n=5
s=1
for i in range(1,n+1): # 1,6
    s=s*i # s=2*1 s=2 update
    
print(s)

enter the no 5

120

While Loop

In [41]:
a = 5
while a >1:   #infinite no of time s 
    print("hello")   # u can not exist the loop until the condition false
    a=a-1   #  1 to 4

hello
hello
hello
hello

In [43]:
b =1 
while b>3:    # false u cannot enter the inside loop
    print("hello")

print("the end")

the end